/*********************************** NavBar con FleBox ************************************************/

nav {
  background-color: #4a8645;
  padding: 10px;
}

.flex-container {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container div {
  margin: 5px;
}

.flex-container div a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
}

.flex-container div a:hover {
  background-color: #0e5514;
}

/******************************************************************************************************/

#name {
  font-weight: bold;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 5px;
  font-family: sans-serif, Verdana;
}

#logo {
  width: 120px;
  height: 120px;
  margin: 0%;
  display: flex;
  animation: animate 0.6s linear infinite;
  border: 3px solid #054e0b;
  display: block;
}

@keyframes animate {
  0% {
    transform: rotate(-15deg) scale(1.05);
  }
  80% {
    transform: rotate(-5deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(0.95);
  }
}

#cabecera {
  align-items: center;
  justify-content: center;
  display: flex;
}

header {
  background-color: #054e0b;
  color: #fff;
  text-align: center;
  padding: 20px;
}

body {
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*********************************** Footer************************************************/
footer {
  background-color: #054e0b;
  color: #fff;
  padding: 10px 0;
}

.grid-container {
  background-color: #054e0b;
  color: #fff;
  padding: 2px;
  margin-top: 5px;
  display: grid;
  grid-template-areas:
    "curso curso curso curso curso redes"
    "integrante1 integrante1 integrante2 integrante2 integrante3 integrante3";
}

.curso-area {
  grid-area: curso;
}

.redes-area {
  grid-area: redes;
}

.integrante1-area {
  grid-area: integrante1;
}

.integrante2-area {
  grid-area: integrante2;
}

.integrante3-area {
  grid-area: integrante3;
}

.grid-container div {
  margin: 0 auto;
  text-align: center;
}

.grid-container p {
  margin: 0 auto;
  text-align: center;
}

/****************************************************/

img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  border: 3px solid #0e5514;
  border-radius: 10px;
}

.estilo-parrafo {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

/*******************************************************************************************/

section {
  padding: 20px;
  background-color: white;
}

#SECTION_CONTACT {
  content: "";
  background-image: url(./assets/img/fondocontacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  height: 300px;
  position: relative;
  margin-bottom: 10px;
}

/*********************************** @Carrusel ************************************************/

.carousel-item img {
  height: 500px; /* Ajusta la altura deseada */
  object-fit: contain;
}
/* Estilo personalizado para el carrusel */
.carousel {
  background-color: #f0f0f0; /* Color de fondo del carrusel */
}

/* Estilo personalizado para los controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #0e5514; /* Color de fondo de los controles de navegación */
}

/* Estilo personalizado para los botones de navegación del carrusel */
.carousel-control-prev,
.carousel-control-next {
  color: #fff; /* Color del icono de los botones de navegación */
}

/*************************** PRODUCTOS ************************/

#nuestrosProductos img {
  height: 300px;
}

#nuestrosProductos span {
  font-size: large;
  font-weight: bold;
}

/*************************** EMPRESA ***********************************/

.grid-container-EMPRESA {
  margin: 0 auto;
  background-color: white;
  padding: 2px;
  grid-gap: 15px;
  display: grid;
  grid-template-areas:
    "empresa empresa empresa empresa empresa empresa"
    "mision mision vision vision objetivos objetivos";
}

.empresa-area {
  grid-area: empresa;
}

.mision-area {
  grid-area: mision;
}

.vision-area {
  grid-area: vision;
}

.objetivos-area {
  grid-area: objetivos;
}

.grid-container-EMPRESA div {
  background-color: #054e0b;
  color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.grid-container-EMPRESA p {
  margin: 0 auto;
  text-align: center;
}

/*********************************** @media query TABLE ************************************************/

@media screen and (max-width: 1024px) {
  #logo {
    display: none;
  }

  .flex-container {
    font-size: 1rem;
  }

  .grid-container {
    grid-template-areas:
      "curso curso curso curso curso curso"
      "redes redes redes redes redes redes"
      "integrante1 integrante1 integrante2 integrante2 integrante3 integrante3";
  }

  .grid-container-EMPRESA {
    grid-template-areas:
      "empresa empresa empresa empresa empresa empresa"
      "mision mision mision vision vision vision"
      "objetivos objetivos objetivos objetivos objetivos objetivos";
  }
}

/*********************************** @media query Telefono ************************************************/

@media screen and (max-width: 480px) {
  .flex-container {
    font-size: 1rem;
    flex-direction: column;
  }

  .flex-container div {
    text-align: center;
  }

  #logo {
    display: none;
  }

  .grid-container {
    grid-template-areas:
      "curso"
      "redes"
      "integrante1"
      "integrante2"
      "integrante3";
  }

  .grid-container-EMPRESA {
    grid-template-areas:
      "empresa"
      "mision"
      "vision"
      "objetivos";
  }
}
