/*********************************** NavBar con FleBox ************************************************/

nav {
  background-color: #4a8645;
  padding: 10px;
}

.flex-container {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container div {
  margin: 5px;
}

.flex-container div a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
}

.flex-container div a:hover {
  background-color: #0e5514;
}

/******************************************************************************************************/

#name {
  font-weight: bold;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 5px;
  font-family: sans-serif, Verdana;
}

#logo {
  width: 120px;
  height: 120px;
  margin: 0%;
  display: flex;
  animation: animate 0.6s linear infinite;
  border: 3px solid #054e0b;
  display: block;
}

@keyframes animate {
  0% {
    transform: rotate(-15deg) scale(1.05);
  }
  80% {
    transform: rotate(-5deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(0.95);
  }
}

#cabecera {
  align-items: center;
  justify-content: center;
  display: flex;
}

header {
  background-color: #054e0b;
  color: #fff;
  text-align: center;
  padding: 20px;
}

body {
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*********************************** Footer************************************************/
footer {
  background-color: #054e0b;
  color: #fff;
  padding: 10px 0;
}

.grid-container {
  background-color: #054e0b;
  color: #fff;
  padding: 2px;
  margin-top: 5px;
  display: grid;
  grid-template-areas:
    "curso curso curso curso curso redes"
    "integrante1 integrante1 integrante2 integrante2 integrante3 integrante3";
}

.curso-area {
  grid-area: curso;
}

.redes-area {
  grid-area: redes;
}

.integrante1-area {
  grid-area: integrante1;
}

.integrante2-area {
  grid-area: integrante2;
}

.integrante3-area {
  grid-area: integrante3;
}

.grid-container div {
  margin: 0 auto;
  text-align: center;
}

.grid-container p {
  margin: 0 auto;
  text-align: center;
}

/****************************************************/

img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  border: 3px solid #0e5514;
  border-radius: 10px;
}

.estilo-parrafo {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

/*******************************************************************************************/

section {
  background-color: white;
}

#SECTION_CONTACT {
  content: "";
  background-image: url(./assets/img/fondocontacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  height: 300px;
  position: relative;
  margin-bottom: 10px;
}

/*************************** PRODUCTOS ************************/

.containerProduct {
  display: grid;
  grid-template-areas:
    "producto1 producto1 producto2 producto2 producto3 producto3"
    "producto4 producto4 producto5 producto5 producto6 producto6";
}

.producto1 {
  grid-area: producto1;
}
.producto2 {
  grid-area: producto2;
}
.producto3 {
  grid-area: producto3;
}
.producto4 {
  grid-area: producto4;
}
.producto5 {
  grid-area: producto5;
}
.producto6 {
  grid-area: producto6;
}

.containerProduct div {
  margin: 10px;
  padding: 10px;
  border: 3px solid #0e5514;
  border-radius: 10px;
  text-align: center;
}

.containerProduct img {
  height: 300px;
}

.containerProduct span {
  font-size: large;
  font-weight: bold;
}

/*************************** EMPRESA ***********************************/

.SECTION_EMPRESA {
  margin: 10px;
  padding: 0;
}
.subTitulo {
  color: white;
  text-align: center;
  background-color: #0e5514;
  width: 100%;
  border-style: solid;
  border-radius: 5px;
  border-color: #054e0b;
}

.paragraph {
  color: white;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
  background-color: #0e5514;
  width: 60%;
  border-style: solid;
  border-radius: 5px;
  padding: 30px 10px 30px 10px;
  border-color: #054e0b;
  display: flex;
  margin: 1%;
}

.image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.image img {
  height: 100%;
}

#container {
  border: black;
  margin: auto;
  align-items: center;
}

#container div {
  display: flex;
  flex-direction: row;
}

.containerFinal {
  justify-content: center;
  align-items: center;
}

.listavalores {
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #0e5514;
  width: 50%;
  margin-left: 25%;
  border-style: solid;
  border-radius: 5px;
  padding: 30px 10px 30px 10px;
  border-color: #054e0b;
}

/*********************************** @media query TABLE ************************************************/

@media screen and (max-width: 1024px) {
  #logo {
    display: none;
  }

  .flex-container {
    font-size: 1rem;
  }

  .grid-container {
    grid-template-areas:
      "curso curso curso curso curso curso"
      "redes redes redes redes redes redes"
      "integrante1 integrante1 integrante2 integrante2 integrante3 integrante3";
  }

  .grid-container-EMPRESA {
    grid-template-areas:
      "empresa empresa empresa empresa empresa empresa"
      "mision mision mision vision vision vision"
      "objetivos objetivos objetivos objetivos objetivos objetivos";
  }

  .containerProduct {
    grid-template-areas:
      "producto1 producto1 producto2 producto2"
      "producto3 producto3 producto4 producto4"
      "producto5 producto5 producto6 producto6";
  }

  #container div {
    flex-direction: column;
  }
  .paragraph {
    width: 100%;
  }

  .image {
    width: 100%;
  }
  .listavalores {
    width: 100%;
    margin: 0;
  }
}

/*********************************** @media query Telefono ************************************************/

@media screen and (max-width: 480px) {
  .flex-container {
    font-size: 1rem;
    flex-direction: column;
  }

  .flex-container div {
    text-align: center;
  }

  #logo {
    display: none;
  }

  .grid-container {
    grid-template-areas:
      "curso"
      "redes"
      "integrante1"
      "integrante2"
      "integrante3";
  }

  .grid-container-EMPRESA {
    grid-template-areas:
      "curso curso curso curso curso curso"
      "redes redes redes redes redes redes"
      "integrante1 integrante1 integrante2 integrante2 integrante3 integrante3";
  }

  .containerProduct {
    grid-template-areas:
      "producto1"
      "producto2"
      "producto3"
      "producto4"
      "producto5"
      "producto6";
  }
}
